
<div class="container-fluid">
  {{!-- <h1 class="display-6">{{title}}</h1> --}}

    {{!-- customer --}}
    {{> tableHeadings context='cus' title='Customer Apps' full=true}}
    {{> appList app='evw-customer' context='cus'}}
    {{> appList app='evw-self-serve' context='cus'}}
    {{> appList app='evw-application-processor' context='cus'}}
    {{> appList app='flights-forecast-service' context='cus'}}
    {{!-- {{> appList app='mock-integration-service' context='cus'}} --}}
    </tbody>
    </table>

    {{!-- caseworker --}}
    {{> tableHeadings context='cas' title='Caseworker Apps'}}
    {{> appList app='evw-caseworker' context='cas'}}
    {{> appList app='evw-integration-service' context='cas'}}
    </tbody>
    </table>

    {{!-- OCR --}}
    {{> tableHeadings context='ocr' title='OCR'}}
    {{> appList app='passport-ocr-service' context='ocr'}}
    </tbody>
    </table>
    {{!-- Worldpay stub --}}
    {{!-- {{> tableHeadings context='ocr' title='Worldpay stub'}}
    {{> appList app='rtp-worldpay-stub' context='wps'}} --}}
    </tbody>
    </table>

</div>