<h1>{{title}}</h1>

<table style="width: 100%;" border="1">
  <tbody>
    <tr>
      <th colspan="1" rowspan="2" headers="" scope="">Application</th>
    </tr>
    <tr></tr>

    {{!-- customer --}}
    {{> tableHeadings context='cus' title='Customer Apps'}}
    {{> appList app='evw-customer' context='cus'}}
    {{> appList app='evw-self-serve' context='cus'}}
    {{> appList app='evw-application-processor' context='cus'}}
    {{> appList app='flight-forecast-service' context='cus'}}
    {{> appList app='mock-integration-service' context='cus'}}

    {{!-- caseworker --}}
    {{> tableHeadings context='cas' title='Caseworker Apps'}}
    {{> appList app='evw-caseworker' context='cas'}}
    {{> appList app='evw-integration-service' context='cas'}}

    {{!-- OCR --}}
    {{> tableHeadings context='ocr' title='OCR'}}
    {{> appList app='Passport+OCR+Service' context='ocr'}}

    {{!-- Worldpay stub --}}
    {{> tableHeadings context='ocr' title='Worldpay stub'}}
    {{> appList app='rtp-worldpay-stub' context='wps'}}

  </tbody>
</table>