<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <style>
      html,
      td:first-child {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
      }
      td {
        /*text-align: center;*/
        padding:4px 2px;
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    {{{@body}}}
  </body>
</html>