<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{assetPath}}/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{assetPath}}/css/style.css" />
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script>
      var socket = io();
      socket.on('envs', function (data) {
        console.log('uh oh', data);
        window.location = '';
      })
    </script>
  </head>
  <body>
    {{{@body}}}
  </body>
</html>